@import "tailwindcss";

:root {
  /* --background: #01071f; */
  /* --background: linear-gradient(to right, rgb(0, 0, 0), rgb(8, 14, 62), rgb(0, 0, 0)); */
  --foreground: #000000;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to right, rgb(0, 0, 0), rgb(8, 14, 62), rgb(0, 0, 0));
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-Color {
  background: linear-gradient(to right, rgb(0, 0, 0, 0.5), rgb(8, 14, 62, 0.5), rgb(0, 0, 0, 0.5));
  backdrop-filter: blur(10px);
}

.animate-wave {
  background-size: 200% 200%;/* gradiente más grande para animación */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 2s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}